<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Kauntah SVG</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/basscss@8.0.4/css/basscss.min.css">
  <link rel="stylesheet" href="https://unpkg.com/github-markdown-css@2.10.0/github-markdown.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fugaz+One">
  <style>
    .markdown-body h1 {
      font-family: 'Fugaz One', cursive;
      text-align: center;
      font-size: 5.0rem;
    }

    .markdown-body img[alt="kauntah"] {
      display: block;
      margin-right: auto;
      margin-left: auto;
      height: auto;
    }
  </style>
</head>

<body>
  <div class="max-width-4 mx-auto px1 py4 markdown-body">
    <%- markdown %>
  </div>
</body>

</html>
